Create one variable containing following type of data:

In [1]:
# string variable
p = "TUSHAR"

#list variable
l = [45,256.235,"HIMANSHU",5+9J]

#float variable
f = 58.2659

#tuple variable
t = ("TUSHAR","SINGH","RAWAT")

DATA TYPE UNDERSTANDING

In [5]:
var1 = " "
type(var1)

str

In [11]:
var2 = '[ ds , ml , Python]'
type(var2)

str

In [10]:
var3 = [ 'ds' , 'ml' , 'python' ]
type(var3)

list

In [12]:
var4 = 1
type(var4)

int

Explain the use of the following operators using an example:

In [ ]:
#      / : This is the division operator which gives quotient

In [13]:
45/9

5.0

In [14]:
#        % : This is the modulus operator which gives the remainder

In [15]:
45%9

0

In [16]:
#       //: This is the floor division operator which will round off to the closest integer

In [17]:
45//7

6

In [18]:
#      ** : this i sthe power operator

In [19]:
2**3

8

 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type:

In [21]:
lis = [45,65.2,"TUSHAR",65+98j,458,12.365,"SINGH","A",1,0]

for num in lis:
    print("element is:{} and it's type is:{}".format(num,type(num)))

element is:45 and its type is:<class 'int'>
element is:65.2 and its type is:<class 'float'>
element is:TUSHAR and its type is:<class 'str'>
element is:(65+98j) and its type is:<class 'complex'>
element is:458 and its type is:<class 'int'>
element is:12.365 and its type is:<class 'float'>
element is:SINGH and its type is:<class 'str'>
element is:A and its type is:<class 'str'>
element is:1 and its type is:<class 'int'>
element is:0 and its type is:<class 'int'>

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible:

In [ ]:
#taking the input from the user
a = int(input("enter the value for A"))
b = int(input("enter the value for B"))

while a > b :
    if(a%b==0):
        print("A is purely divisible by B")
        print("A is divisible by B in {} time".format(a/b))

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
pqr = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for num in pqr:
    if num%3==0:
        print("{} is divisible by 3".format(num))
    else:
        print("{} is not divisible by 3".format(num))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

 What do you understand about mutable and immutable data types? Give examples for both showing
this property:

In [ ]:
#        Mutable: simply means changable 
#        Immutable: simply means cannot change the data item

In [3]:
#Mutable example could be list:
pqr

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [4]:
#changing the pqr list at 1st position
pqr[1] = 1000

In [5]:
pqr

[1,
 1000,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [6]:
#Immutable example could be tuples

tup = ("TUSHAR","SINGH","RAWAT")

In [7]:
tup

('TUSHAR', 'SINGH', 'RAWAT')

In [8]:
tup[0] = "HEMU"
# error means we cannot change the data items.

TypeError: 'tuple' object does not support item assignment